*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, "young-serif", Verdana, sans-serif;
}
img{
    width: 600px;
    height: 300;
    border-radius: 20px;
}

body{
    width: 100vw;
    background-color: rgba(239, 78, 19, 0.148);
    padding: 45px;
}
main{
    padding: 12px 29px;
    border-radius: 25px;
    background-color: hsl(0, 0%, 100%);
    margin: 0 auto;
    color: hsl(24, 5%, 18%);
    width: 600px;
}
section{
    margin: 29px 0;
}
#caixa-especial{
    padding: 20px;
    background-color: hsl(330, 100%, 98%);   
    border-radius: 20px; 
}
#caixa-especial li{
    margin: 0 18px;   
}
#caixa-especial h3{
    margin: 8px 0px;   
}
#preparation_el{
    color: hsl(332, 51%, 32%);
}
section li{
    margin: 0 30px;   
    padding: 0 10px;
}
ol li::marker{
    font-weight: bolder;
    color: hsl(14, 63%, 41%);
}
section ul li::marker{
    font-weight: bolder;
    color: hsl(14, 63%, 41%);
}
h1{
    font-size: 40px;
}
h1, h2{
    margin: 11px 0px;
    font-family: serif;
}
h2{
    color: hsl(14, 63%, 41%);
}
p{
    margin: 6px 0px;
    line-height: 25px;
}
span{
    font-weight: bolder;
}
#elementos-nutri{
    display: flex;
}
aside{
    text-indent: 33px;   
    width: 50%;
    display: block;
}
aside div{
    margin: 10px 0px;
}
#num{
    font-weight: bolder;
    color: hsl(14, 63%, 41%);
}

